jupyterlab==3.1.12
matplotlib.pyplot==
seaborn==
numpy==
pandas==
torch==
scikit-learn==
transformers==
tensorflow-hub==
pycaret==


# Pendiente de instalar las dependencias restantes y anotar la version instalada aca...